# Environment
.env

# Laravel
backend/vendor/
backend/node_modules/
backend/storage/logs/*.log
backend/.env
backend/bootstrap/cache/*.php

# Next.js
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Docker
*.dockerignore
